main {
  max-height: 80vh;
  padding: 2rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 1rem;
  grid-template-areas:
    "timer svg svg"
    "wrongLetterLog svg svg"
    "inputLetter mainOutputContainer mainOutputContainer";
}

.timer {
  background-color: red;
  grid-area: timer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.timer p {
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.svg__container {
  background-color: antiquewhite;
  grid-area: svg;
  padding: 2rem;
}

.wrongLetterLog {
  background-color: rgb(219, 211, 211);
  grid-area: wrongLetterLog;
  padding: 0.5rem;
}

.inputLetter {
  border: 3px solid black;
  grid-area: inputLetter;
  padding: 0.5rem;
}

.mainOutputContainer {
  padding: 0.5rem;
  background-color: pink;
  grid-area: mainOutputContainer;
}
